language: java
install: true

os: linux
dist: trusty
jdk: oraclejdk8

before_install:
 - chmod +x gradlew

script:
  - ./gradlew clean assemble

services:
  - docker

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

before_install:
  - docker build -t .


deploy:
  provider: script
  script: bash docker_push
  on:
    branch: master